<h2>Register Graduate</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
    </div>
    <!-- UNIVERSITY -->
    <div class="form-group">
        <label for="email">University</label>
        <select formControlName="university" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.university.errors }">
            <option *ngFor="let uni of universities" [value]="uni.id">{{uni.name}}</option>
        </select>
        <div *ngIf="submitted && f.university.errors" class="invalid-feedback">
            <div *ngIf="f.university.errors.required">University is required</div>
        </div>
    </div>
    <!-- DEGREE -->
    <div class="form-group">
        <label for="email">Degree</label>
        <select formControlName="degree" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.degree.errors }">
            <option *ngFor="let d of degrees" [value]="d.id">{{d.name}} - {{d.id}}</option>
        </select>
        <div *ngIf="submitted && f.degree.errors" class="invalid-feedback">
            <div *ngIf="f.degree.errors.required">Degree is required</div>
        </div>
    </div>
    <!-- Major -->
    <div class="form-group">
        <label for="major">Major</label>
        <select formControlName="major" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.major.errors }">
            <option *ngFor="let major of majors" [value]="major.id">{{major.name}}</option>
        </select>
        <div *ngIf="submitted && f.major.errors" class="invalid-feedback">
            <div *ngIf="f.major.errors.required">Major is required</div>
        </div>
    </div>
    <!-- GPA -->
    <div class="form-group">
        <label for="gpa">GPA</label>
        <input type="number" formControlName="gpa" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gpa.errors }" />
        <div *ngIf="submitted && f.gpa.errors" class="invalid-feedback">
            <div *ngIf="f.gpa.errors.required">GPA is required</div>
        </div>
    </div>
    <!-- Locations -->
    <label class="checkbox-label">Select work locations</label>
    <div class="form-group checkbox-select">
    <div class="form-group" *ngFor="let location of locations; let i=index">
        <input [formControlName]="location.name" type="checkbox" [value]="location.id"/> {{location.name}}, {{location.state}}
     </div>
     </div>
    <!-- Employers -->
    <label class="checkbox-label">Select desired Employer</label>
    <div class="checkbox-group">
    <div class="form-group checkbox-select" *ngFor="let e of employers; let i=index">
        <input [formControlName]="e.id" type="checkbox" [value]="e.id"/> {{e.name}}
     </div>
    </div>
    <hr>
    <!-- Password -->
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Register</button>
        <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>
